POSTGRES_USER={{ pg_admin_user }}
POSTGRES_PASSWORD={{ pg_admin_password }}
POSTGRES_DB={{ pg_dababase_name }}
PEERTUBE_DB_USERNAME={{ pg_admin_user }}
PEERTUBE_DB_PASSWORD={{ pg_admin_password }}
# PEERTUBE_DB_HOSTNAME is the Postgres service name in docker-compose.yml
PEERTUBE_DB_HOSTNAME=postgres
PEERTUBE_WEBSERVER_HOSTNAME={{ peertube_domain }}
# PEERTUBE_WEBSERVER_PORT=443
PEERTUBE_WEBSERVER_HTTPS=true
PT_INITIAL_ROOT_PASSWORD={{ peertube_initial_root_password }}
# If you need more than one IP as trust_proxy
# pass them as a comma separated array:
PEERTUBE_TRUST_PROXY=["127.0.0.1", "loopback", "172.18.0.0/16"]
PEERTUBE_SMTP_HOSTNAME=postfix
PEERTUBE_SMTP_PORT=25
PEERTUBE_SMTP_FROM=noreply@{{ peertube_domain }}
PEERTUBE_SMTP_TLS=false
PEERTUBE_SMTP_DISABLE_STARTTLS=false
PEERTUBE_ADMIN_EMAIL={{ peertube_admin_mail }}
POSTFIX_myhostname={{ peertube_domain }}
# If you need to generate a list of sub/DOMAIN keys
# pass them as a whitespace separated string <DOMAIN>=<selector>
OPENDKIM_DOMAINS={{ peertube_domain }}=peertube

