version: "3.4"

x-logging: &default-logging
    driver: "json-file"
    options:
        max-size: "500k"
        max-file: "10"

services:
  peertube:
    image: chocobozzz/peertube:{{ peertube_version }}
    env_file:
      - .env
    labels:
      - "traefik.backend={{ peertube_name }}-peertube"
      - "traefik.docker.network=web"
      - "traefik.frontend.rule=Host:{{ peertube_domain }}"
      - "traefik.enable=true"
      - "traefik.port=9000"
    volumes:
      - {{ compose_directory }}/peertube-data/data:/data
      - {{ compose_directory }}/peertube-data/config:/config
    networks:
      - web
      - internal-db
      - internal-peertube
    depends_on:
      - postgres
      - redis
      - postfix
    restart: always
    logging: *default-logging

  postgres:
    image: postgres:{{ pg_version }}-alpine
    env_file:
      - .env
    networks:
      - internal-db
    volumes:
      - db:/var/lib/postgresql/data
      - {{ compose_directory }}/db/init:/docker-entrypoint-initdb.d/
    restart: always
    expose :
      - 9000
      - 5432
    labels:
      traefik.enable: "false"
    logging: *default-logging

  redis:
    image: redis:{{ redis_version }}-alpine
    restart: always
    expose:
      - 6379
    networks:
      - internal-fpm
    labels:
      traefik.enable: "false"
    networks:
      - internal-peertube
    logging: *default-logging

  postfix:
    image: mwader/postfix-relay
    env_file:
      - .env
    volumes:
      - {{ compose_directory }}/docker-volume/opendkim/keys:/etc/opendkim/keys
    labels:
      traefik.enable: "false"
    restart: always
    networks:
      - internal-peertube
    logging: *default-logging

networks:
  internal-peertube:
  internal-db:
  web:
    external: true

volumes:
  db:
