#!/bin/bash

cd "$(dirname "$0")"
echo "start backup peertube {{ peertube_name }}"
COMPOSE_INTERACTIVE_NO_CLI=1
if [ -z `docker-compose ps -q postgres` ] || [ -z `docker ps -q --no-trunc | grep $(docker-compose ps -q postgres)` ]; then
	echo "Database is not running. Backup peertube {{ peertube_name }} aborted"
else
	/usr/local/bin/docker-compose exec -T postgres pg_dump -U {{ pg_admin_user }} {{ pg_dababase_name }} > {{ pg_peertube_backupfile }}
	echo "backup peertube {{ peertube_name }} done"
fi
